.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn{
	box-shadow: none !important
}

/* eka column */
.col-md-5 {
    font-size: 20px;
}

/* toka column 
.cold-md-6 {
    
}*/

.header {
    font-size: 30px;
}

