.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn{
	box-shadow: none !important
}

.header {
    font-size: 30px;
}

.text-sm-left {
    font-size: 18px;
    font-family: Verdana;
}

#goldGround {
    font-size: 22px;
    font-weight: 900;
}

/*#container1 {
    background-color: rgb(124, 122, 122);
}

#container2 {
    background-color:dimgray;
}